{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'list.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      
    </ol>
  </nav>
  <div class="title">
    <h3>チーム</h3>
  </div>
  {% for item in object %}
  <div class="alert alert-success" role="alert">
    <p><a href="{% url 'scorechoice' item.pk %}">{{ item.team }}</a></p>
  </div>
  {% endfor %}

  
</div>
{% endblock content %}