
html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #f5f5f5;
}

ol {
  text-align: center;
}

.title {
  text-align: center;
}

.main-effect {
  margin: 5%;
  text-align: center;
}

.main-effect a {
  margin-right: 3%;
  margin-left: 3%;
}

footer {
  /* position: absolute; */
  width: 100%;
  bottom: 0;
}
